<html>
<head>
	<title>Blog from Anya</title>
</head>
<body>
    <div>
    	<h1><a href="https://s-media-cache-ak0.pinimg.com/736x/1c/dc/13/1cdc138d1eff74e714389eb165cae5bb.jpg">My Super Blog
    	
    	</a></h1>
    	<p><strong  style="color: red">published</strong>: 14.06.2017, 15:15</p>
    </div>
        <h2><a href="https://play.google.com/music/preview/Tta7hqskne4rbgnyxtoosjvt4mi?lyrics=1&utm_source=google&utm_medium=search&utm_campaign=lyrics&pcampaignid=kp-lyrics">First post</a></h2>
    <h3><ul>Supergirl <em>(Reamonn)</em></ul></h3>
    

<ul>You can tell by the way she walks</ul> 
<ul>That she's my girl.</ul> 
<ul>You can tell by the way</ul> 
<ul>She talks she woos the world.</ul> 
<ul>You can see in her eyes</ul> 
<ul>That no one is her change</ul> 
<ul>She's my girl,</ul> 
<ul>My supergirl.</ul>
<ul>And then she'd say:</ul>
<ul>"It's OK, I got lost on the way</ul> 
<ul>But I'm a super girl</ul> 
<ul>And super girls don't <a href="https://play.google.com/music/preview/Tta7hqskne4rbgnyxtoosjvt4mi?lyrics=1&utm_source=google&utm_medium=search&utm_campaign=lyrics&pcampaignid=kp-lyrics"><strong style="font-size: 30px">cry</strong></a>"</ul> 

            </div>

            <div>
                <p>published: 14.06.2017, 18:18</p>
                <h2><a href="https://djbook.ru/rel1.9/intro/overview.html">Second post</a></h2>
                <p>Поскольку Django был разработан в бурлящей среде новостного агентства, он призван сделать веб-разработку простой и быстрой.</p>
                <p>Далее представлен вводный обзор того, как можно писать веб-приложения при помощи <a href="https://djbook.ru/rel1.9/intro/overview.html" style="font-size: 40px">Django</a>.</p>
            </div>
            
            {% for post in posts %}
            <div>

            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
           
    </body>
</html>